html {
  box-sizing: border-box;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 200;
  background: url("./img/background.png");
  background-repeat: repeat-y;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#main {
  max-width: 1090px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  font-size: 16px;
}

input.search {
  padding: 5px 15px;
  width: 100%;
  max-width: 300px;
  margin: 0;
  outline: 0;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.radio-buttons {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.characters li {
  list-style: none;
  margin: 20px;
  padding: 0px;
  background-color: whitesmoke;
  max-width: 160px;
  box-shadow: 0 0 10px 4px greenyellow;
  transition: 0.5s;
  position: relative;
}

.image {
  width: 100%;
}
.name {
  display: flex;
  font-family: 'helvetica';
  height: 60px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 200;
}

.status {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: whitesmoke;
}

.Alive {
  background-color: rgba(17, 231, 63, 0.603);
}

.Dead {
  background-color: rgba(126, 62, 32, 0.603);
}

.unknown {
  background-color: rgba(166, 28, 207, 0.603);
}

.no-results {
  color: whitesmoke;
  margin: 60px auto;
  font-size: 24px;
}

.container {
  position: relative;
}

.character-expanded {
  /* display: none; */
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.character-expanded.expanded {
  opacity: 1;
  display: block;
  position: fixed;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -40vh;
  margin-left: -40vw;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px 4px greenyellow;
}

.character-expanded h3 {
  height: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

.character-expanded ul {
  font-size: 16px;
  margin: auto;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 80%;
  list-style: none;
}


