html {
  box-sizing: border-box;
  background: #cccccc;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  
}

.search-form {
  
}

input.search {
  padding: 15px;
  width: 100%;
  display: block;
  max-width: 400px;
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.radio-buttons {
  border: 1px solid red;
  display: inline-block;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.characters li {
  list-style: none;
  height:300px;
  background-color: white;
  margin: 10px;
  padding: 5px;
  width: 210px;
}

.image {
  width: 100%;
}
.name {
  font-family: 'helvetica';
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
}