html {
  box-sizing: border-box;
  background: #cccccc;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 200;
  background: url("/img/background.png");
  background-repeat: repeat-y;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#main {
  max-width: 1090px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  font-size: 26px;
}

input.search {
  padding: 15px;
  width: 100%;
  display: block;
  max-width: 400px;
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid whitesmoke;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.radio-buttons {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.characters li {
  list-style: none;
  height:280px;
  margin: 20px;
  padding: 0px;
  background-color: whitesmoke;
  width: 210px;
  /* border: 3px solid greenyellow; */
  box-shadow: 0 0 10px 4px greenyellow;
  position: relative;
}

.image {
  width: 100%;
}
.name {
  display: flex;
  font-family: 'helvetica';
  height: 60px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.status {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: whitesmoke;
}

.Alive {
  background-color: rgba(17, 231, 63, 0.603);
}

.Dead {
  background-color: rgba(212, 87, 29, 0.603);
}

.unknown {
  background-color: rgba(166, 28, 207, 0.603);
}